groq
fastapi
uvicorn[standard]
httpx
pyaudio
SpeechRecognition
openai-whisper
pygame
Pillow
pyperclip
pyautogui
psutil
requests
duckduckgo-search
pygetwindow
pywhatkit
chromadb
pywinauto
pdfplumber
PyMuPDF
python-docx
pywin32
googlesearch-python
beautifulsoup4
pytesseract
send2trash
